DeveloperPortalWeb/Service References/NotificationService/SupportEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupportEmail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISupportEmail_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://labweb01:21080/SupportEmail.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://labweb01:21080/SupportEmail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://labweb01:21080/SupportEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InContact.EmailNotificationService.Models" />
      <xsd:import schemaLocation="http://labweb01:21080/SupportEmail.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://labweb01:21080/SupportEmail.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/InContact.EmailNotificationService.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupportEmail_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="ISupportEmail_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="ISupportEmail_CreateEmailMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmailMessage" />
  </wsdl:message>
  <wsdl:message name="ISupportEmail_CreateEmailMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmailMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISupportEmail_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="ISupportEmail_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupportEmail">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupportEmail/Echo" message="tns:ISupportEmail_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupportEmail/EchoResponse" message="tns:ISupportEmail_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmailMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupportEmail/CreateEmailMessage" message="tns:ISupportEmail_CreateEmailMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupportEmail/CreateEmailMessageResponse" message="tns:ISupportEmail_CreateEmailMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupportEmail/SendEmail" message="tns:ISupportEmail_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupportEmail/SendEmailResponse" message="tns:ISupportEmail_SendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISupportEmail" type="tns:ISupportEmail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/ISupportEmail/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmailMessage">
      <soap:operation soapAction="http://tempuri.org/ISupportEmail/CreateEmailMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/ISupportEmail/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISupportEmail" type="tns:ISupportEmail">
    <wsp:PolicyReference URI="#NetTcpBinding_ISupportEmail_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/ISupportEmail/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmailMessage">
      <soap12:operation soapAction="http://tempuri.org/ISupportEmail/CreateEmailMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/ISupportEmail/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupportEmail">
    <wsdl:port name="BasicHttpBinding_ISupportEmail" binding="tns:BasicHttpBinding_ISupportEmail">
      <soap:address location="http://labweb01:21080/SupportEmail.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISupportEmail" binding="tns:NetTcpBinding_ISupportEmail">
      <soap12:address location="net.tcp://labweb01.blfdev.lab:21808/SupportEmail.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://labweb01.blfdev.lab:21808/SupportEmail.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>