DeveloperPortalWeb/Service References/NotificationService/SupportEmail4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InContact.EmailNotificationService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InContact.EmailNotificationService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://labweb01:21080/SupportEmail.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailTemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HtmlBody" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Recipients" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextBody" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailInfo" nillable="true" type="tns:EmailInfo" />
</xs:schema>