DeveloperPortalWeb/Service References/LuceneSearch/InContact.LuceneSearchService.LuceneSearchResults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InContact.LuceneSearchService.LuceneSearchResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InContact.LuceneSearchService.LuceneSearchResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true" type="tns:SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResult" nillable="true" type="tns:ArrayOfSearchResult" />
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Blerb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
</xs:schema>