DeveloperPortalWeb/Service References/LuceneSearch/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LuceneSearch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILuceneSearch_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/InContact.LuceneSearchService.LuceneSearchResults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILuceneSearch_SearchForData_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForData" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_SearchForData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_ReIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:ReIndex" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_ReIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReIndexResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_AddDocumentToSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDocumentToSearch" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_AddDocumentToSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDocumentToSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_updateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:updateDocument" />
  </wsdl:message>
  <wsdl:message name="ILuceneSearch_updateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="ILuceneSearch">
    <wsdl:operation name="SearchForData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILuceneSearch/SearchForData" message="tns:ILuceneSearch_SearchForData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILuceneSearch/SearchForDataResponse" message="tns:ILuceneSearch_SearchForData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/ILuceneSearch/ReIndex" message="tns:ILuceneSearch_ReIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILuceneSearch/ReIndexResponse" message="tns:ILuceneSearch_ReIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ILuceneSearch/AddDocumentToSearch" message="tns:ILuceneSearch_AddDocumentToSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILuceneSearch/AddDocumentToSearchResponse" message="tns:ILuceneSearch_AddDocumentToSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ILuceneSearch/updateDocument" message="tns:ILuceneSearch_updateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILuceneSearch/updateDocumentResponse" message="tns:ILuceneSearch_updateDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILuceneSearch" type="tns:ILuceneSearch">
    <wsp:PolicyReference URI="#NetTcpBinding_ILuceneSearch_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SearchForData">
      <soap12:operation soapAction="http://tempuri.org/ILuceneSearch/SearchForData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReIndex">
      <soap12:operation soapAction="http://tempuri.org/ILuceneSearch/ReIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToSearch">
      <soap12:operation soapAction="http://tempuri.org/ILuceneSearch/AddDocumentToSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateDocument">
      <soap12:operation soapAction="http://tempuri.org/ILuceneSearch/updateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LuceneSearch">
    <wsdl:port name="NetTcpBinding_ILuceneSearch" binding="tns:NetTcpBinding_ILuceneSearch">
      <soap12:address location="net.tcp://lab-lucenesearchservice.blfdev.lab:7808/LuceneSearch.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://lab-lucenesearchservice.blfdev.lab:7808/LuceneSearch.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>